.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 3%;
  color: #2196f3;
  font-style: normal;
  line-height: 1.2;
}

.header__link, .contact__link, .products__section, .products__box, .popup, .footer-area--contact, .area, .button, .button--submit, .btn__select, .features__caption, .features__descr, .hero__solution, .headline, .command__subtitles, .command__skills, .title-form, .label-item, .comment-area, .check-text, .checkbox-link {
  font-family: Roboto, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  color: #212121;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}

.img {
  display: block;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.border {
  border-bottom: 1px solid #cecece;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav .header__item + .header__item {
  margin-left: 40px;
}

.headder__item {
  position: relative;
  padding: 32px 0px;
  cursor: pointer;
}

.header__link {
  position: relative;
  display: block;
  color: #212121;
  padding: 28px 0px;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: #2196f3;
}

.header__item--current::after {
  content: '';
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  position: absolute;
  border-radius: 2px;
  opacity: 1;
  display: block;
  left: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__link:hover .contact__icon,
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon,
.contact__link:focus .contact__icon {
  fill: #2196f3;
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__item + .contact__item {
  margin-left: 50px;
}

.project {
  padding: 94px 0px;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.holder {
  margin: 0px 30px 30px 0px;
  width: 370px;
  border: 1px solid #e5e5e5;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.holder:nth-child(3n) {
  margin-right: 0px;
}

.holder:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.holder:hover,
.holder:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 1px 4px 4px rgba(0, 0, 0, 0.06), 1px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 1px 4px 4px rgba(0, 0, 0, 0.06), 1px 1px 1px rgba(0, 0, 0, 0.12);
}

.thumb__box {
  position: relative;
  overflow: hidden;
}

.products__description {
  padding: 20px 24px;
}

.products__section {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0px 0px 4px;
  padding: 0px;
}

.products__box {
  margin: 0px;
  padding: 0px;
  line-height: 1.875;
  color: #757575;
}

.popup {
  display: inline-block;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 63px 24px;
}

.holder:hover .popup,
.holder:focus .popup {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.list__footer {
  margin-top: 20px;
}

.footer-area {
  margin-bottom: 9px;
}

.footer-area--contact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.social-link {
  margin-right: 93px;
}

.area {
  color: #ffffff;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.accede {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin: 0px;
}

.submit {
  display: block;
  width: 570px;
}

.submit__input {
  height: 50px;
  width: 353px;
  margin: 20px 12px 0px 0px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.submit__input[placeholder] {
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25px;
  color: #ffffff;
}

.button--submit {
  position: relative;
  padding: 10px 62px 10px 29px;
}

.submit__icon {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.logo {
  margin-right: 93px;
}

.logo--header {
  color: #212121;
}

.logo--footer {
  color: #ffffff;
}

.button, .button--submit {
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
  padding: 0px;
  margin: 0px auto 50px auto;
}

.btn-list .btn__item:not(:last-child) {
  margin-right: 8px;
}

.btn__select {
  border-radius: 4px;
  border-color: transparent;
  outline: 0px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn__item:hover .btn__select,
.btn__item:focus .btn__select {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.8), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.btn__select--tiny {
  text-transform: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.icon-link {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.social-icon {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.icon-link:hover,
.icon-link:focus {
  background-color: #2196f3;
  outline: none;
}

.icon-link:hover .social-icon,
.icon-link:focus .social-icon {
  fill: #ffffff;
}

.footer--social-icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.clients {
  padding: 94px 0px;
}

.icon-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-company:not(:last-child) {
  margin-right: 30px;
}

.icon-company-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icon-company-link:hover, .icon-company-link:focus {
  outline: none;
  border-color: #2196f3;
}

.icon-logo {
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company-link:hover .icon-logo,
.icon-company-link:focus .icon-logo {
  outline: none;
  fill: #2196f3;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 94px 0px;
}

.features .features__card + .features__card {
  margin-left: 30px;
}

.features__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__caption {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features__descr {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.87;
  color: #757575;
}

.hero {
  position: relative;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.hero__overley {
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__solution {
  position: absolute;
  top: 200px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.button--hero {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 200px;
}

.skills {
  padding-bottom: 94px;
}

.headline {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.gallery .gallery__item + .gallery__item {
  padding-left: 30px;
}

.gallery__item {
  margin: 0px;
  padding: 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__text {
  position: absolute;
  width: 370px;
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 00.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
}

.team {
  padding: 94px 0px;
  background-color: #f5f4fa;
}

.command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.command .command__card + .command__card {
  margin-left: 30px;
}

.command__card {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.command__wrapper {
  padding: 30px 0px 30px;
  background-color: #ffffff;
}

.command__subtitles {
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}

.command__skills {
  font-weight: 400;
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 10px 0px 16px;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 581px;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: local;
  fill: #000;
  cursor: pointer;
}

.button-close .close-icon:hover {
  fill: #2196f3;
}

.close-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset {
  border: none;
  margin: 0px 0px 20px;
  padding: 0px;
}

.title-form {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 12px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-name:hover .label-item,
.form-name:hover .user-data,
.form-name:hover .comment-area {
  border-color: #2196f3;
}

.label-item {
  font-size: 12px;
  color: #757575;
  margin-bottom: 4px;
  text-align: start;
  cursor: pointer;
}

.user-data {
  top: 0;
  left: 0;
  margin: 0px;
  padding: 0px 0px 0px 42px;
  width: 448px;
  height: 40px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  outline: none;
}

.user-data:focus {
  border-color: #2196f3;
}

.person-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  width: 18px;
  height: 18px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-name:hover .person-icon {
  fill: #2196f3;
}

.form-name:focus .person-icon {
  fill: #2196f3;
}

.comment-area {
  line-height: 1.14;
  letter-spacing: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  width: 448px;
  resize: none;
  padding: 12px 16px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

.comment-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-area::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.comment-area:hover {
  color: #2196f3;
}

.checkholder__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin: 0px 0px 30px;
}

.check {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-box {
  top: 0%;
  left: 0%;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  background-image: url(../images/off.svg);
}

.check-input:checked + .check-box {
  background-image: url(../images/on.svg);
}

.check-input:focus + .check-box {
  background-image: url(../images/off-focused.svg);
}

.check-input:focus:checked + .check-box {
  background-image: url(../images/on-focused.svg);
}

.check-text, .checkbox-link {
  line-height: 142%;
  margin-left: 8.38px;
  color: #757575;
}

.checkbox-link {
  margin-left: 7px;
  color: #2196f3;
  text-decoration: underline;
}

.button__check-box {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  bottom: 40px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main-dist.css.map */