.button {
  border: none;
  border-radius: 4px;
  height: 50px;
  width: 200px;

  background-color: $accent-color;
  @extend %main-font;
  color: $complementary-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
}

//кнопки портфолио

.filter {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  margin: 0px auto 50px auto;
  & .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.btn {
  border-radius: 4px;
  border-color: transparent;
  outline: 0px;
  padding: 6px 22px;
  background-color: $secondary-fill-color;
  @extend %main-font;
  font-size: 16px;
  text-transform: capitalize;

  @include transition;
  .filter__item:hover &,
  .filter__item:focus & {
    background-color: $accent-color;
    color: $complementary-color;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.8),
      0px 3px 1px rgba(0, 0, 0, 0.1);
  }
}

.btn--tiny {
  text-transform: none;
}
