.features {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.features__item {
  @include transition;
  margin: 15px;
  max-width: 450px;
  &:last-child{
    margin-bottom: 0px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
    &:nth-last-child(-n + 2){
      margin-bottom: 0px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    margin-bottom: 0px;
  }
}

.features__box {
  @include display-flex-centr;
  background-color: $secondary-fill-color;
  border-radius: 4px;
  height: 120px;
}

.features__title {
  @extend %main-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 30px 0px 10px;
  text-transform: uppercase;
  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.features__descr {
  @extend %main-font;
  font-weight: 400;
  font-size: 14px;
  line-height:  1.714;
  color: $secondary-color-text;
  padding: 0px;
}