.footer {
  padding: 60px 0px;
  background-color: $filler-color;
}
//.footer-item {
//  display: flex;
//  align-items: baseline;
//  justify-content: space-between;
//}

.contact-wrapper {
  flex-grow: 1;
}

.list__footer {
 margin-top: 20px;
 text-align: center;
}



.footer-area {
  margin-bottom: 8px;
  &--contact {
    @extend %main-font;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  }
}

.socail-link {
  margin-top: 60px;
  text-align: center
  //margin-right: 93px;
}

.area {
  @extend %main-font;
  color: $complementary-color;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.accede {
  @extend %main-font;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.17;
  //line-height: 1.14;
  color: $complementary-color;
  margin: 0px;
}

.submit {
  margin-top: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.submit__input {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
height: 50px;
//max-width: 450px;
width: 100%;
background-color: transparent;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.3);
  &[placeholder] {
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25px;
    color: $complementary-color;
  }
  //margin: 20px 12px 0px 0px;
}

.button--submit {
margin-top: 20px;
margin-left: auto;
margin-right: auto;
  @extend .button;
  position: relative;
  padding: 10px 62px 10px 29px;
}

.submit__icon {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(-50%, -50%);
}
