.hero {
  height: 400px;
  background-color: $filler-color;
  padding-top: 118px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/Hero_480.jpg');
  @media screen and (min-devace-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio:2),
  (-o-min-device-pixel-ratio:2/1),
  (min-resolution:192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_480@2x.jpg);
  }

  @media screen and (min-width: $tablet) {
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url('../images/Hero_768.jpg');
  @media screen and (min-devace-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio:2),
  (-o-min-device-pixel-ratio:2/1),
  (min-resolution:192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_768@2x.jpg);
  }
}
  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/Hero_1600.jpg');
  @media screen and (min-devace-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio:2),
  (-o-min-device-pixel-ratio:2/1),
  (min-resolution:192dpi),
  (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 2dppx) {
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Hero_1600@2x.jpg);
  }
  }
}

.hero__title {
  @extend %main-font;
  text-transform: uppercase;
  color: $complementary-color;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: $desktop) {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.04em;
  left: 50%;
}
}

.hero--button {
  display: block;
  margin: 0px auto;
}