.hero {
  max-width:  480px;
  min-height: 400px;
  background-color: $filler-color;
  padding-top: 118px;
  margin-right: auto;
  margin-left: auto;
  background-repeat: no-repeat;
  background-position: center;
  //background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  //  url('../../images/hero.jpg');
  

  // position: relative;
  // max-width: 1600px;
  // height: 600px;
  // height: 600px;
}

.hero__title {
  @extend %main-font;
  text-transform: uppercase;
  color: $complementary-color;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  margin-bottom: 30px;


  //font-size: 44px;
  //line-height: 1.36;
  //letter-spacing: 0.04em;
  //position: absolute;
  // top: 200px;
  // left: 50%;
  //transform: translateX(-50%);
}

.hero--button {
  display: block;
  margin: 0px auto;
  

  //position: absolute;
  //left: 50%;
  //transform: translateX(-50%);
  //bottom: 200px;
}
