.logo {
  @extend %logo-font;
  display: flex;
  justify-content: center;
  font-size: 24px;
  line-height: 1.1666;
  @media screen and (min-width: $desktop) {
    margin-right: 93px;
    display: block;
  }

}

.logo--header {
  color: $main-color-text;
}

.logo--footer {
  color: $complementary-color;
}
