.other--background {
  background-color: $secondary-fill-color;
}

.section-title {
  @extend %main-font;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  @media screen and (min-width:$desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.command {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: -15px;
 @media screen and (min-width: $tablet) {
  flex-direction: row;
  flex-wrap: wrap;
   margin-top: 0px;
   margin-left: -15px;
   margin-right: -15px;
 }
 @media screen and (min-width: $desktop) {
   margin: 0px;
   & .command__item + .command__item {
   margin-left: 30px;
   }
 }
}

.command__item {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 1px rgba(0, 0, 0, 0.12);
  background-color: $complementary-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 2px;
  max-width: 450px;
  margin: 15px;
  & img{
    max-width: 100%;
  }
  &:last-child{
    margin-bottom: 0px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
    &:nth-last-child(-n + 2){
      margin-bottom: 15px;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 270px;
    margin: 0px;
    &:nth-last-child(-n + 2){
      margin-bottom: 0px;
  }
}
}

// .command__pic{
//   display: flex;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
// }


.command__wrapper {
  padding: 30px 0px 24px;
  @media screen and (min-width:$desktop) {
  padding: 30px 0px 30px;
  }
}

.command__title {
  @extend %main-font;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.command__text {
  @extend %main-font;
  font-weight: 400;
  color: $secondary-color-text;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 10px 0px 16px;
}