.other--background {
  background-color: $secondary-fill-color;
}

.command {
//  display: flex;
  & .command__item + .command__item {
    margin-left: 30px;
  }
}

.command__item {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 2px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.command__wrapper {
  padding: 30px 0px 30px;
  background-color: $complementary-color;
}

.command__title {
  @extend %main-font;
  font-size: 16px;
  line-height: 1.16;
  text-align: center;
}

.command__text {
  @extend %main-font;
  font-weight: 400;
  color: $secondary-color-text;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin: 10px 0px 16px;
}
