@mixin transition {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@mixin display-flex-centr {
  display: flex;
  align-items: center;
  justify-content: center;
}
